@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

   
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;   
}

html, body {
  overscroll-behavior-x: none;
}




@font-face {
  font-family: 'Virgil';
 
 src: local('Virgil'), url(../public/fonts/Virgil.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

::-webkit-resizer {
  display: none;
}




